.left-block {
  width: 19%;
  min-width: 200px;
  margin-bottom: 50px;

  li:hover,
  li:focus {
    opacity: 0.7;
  }

  @include media-mobile {
    width: 100%;
  }
}

.left-block__list {
  max-width: 200px;
  margin: 0;
  margin-bottom: 109px;
  padding: 0;

  font-size: 18px;

  list-style: none;

  @include media-mobile {
    max-width: 100%;

    text-align: center;
  }
}

.left-block__item {
  margin-bottom: 7px;

  cursor: pointer;

  &--active span {
    display: block;

    margin-bottom: 1px;

    text-decoration: underline;
  }
}

.left-block__inner-list {
  padding-left: 19px;

  font-size: 14px;

  list-style: none;
}

.left-block__inner-item {
  list-style: disc;

  cursor: pointer;

  @include media-mobile-tablet {
    list-style: none;
  }

  &--active {
    color: $black;

    text-decoration: underline;
  }
}
