@font-face {
  font-style: normal;
  font-family: "OpenSansCondensed";
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/opensanscondensed-light.woff2") format("woff2"), url("../fonts/opensanscondensed-light.woff") format("woff");
}
